.realtor a:not(.btn) {
  color: var(--color-neutral-medium);
  padding: 0.1em;
}

.realtor a:not(.btn):hover,
.realtor a:not(.btn):focus,
.realtor a:not(.btn):active {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral-white);
}

.btn-realtor-wrap {
  position: absolute;
  right: 0;
  top: calc(100% + var(--space-1-2));
  z-index: 1000;
  padding: 0 var(--space-1-4) var(--space-1-4) var(--space-1-4);
}

.btn-realtor-wrap::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(var(--space-1-4) + 0.05rem);
  background-color: rgba(var(--rgb-neutral-dark), 0.8);
  position: absolute;
  z-index: 1;
}

.realtor-top {
  display: grid;
  grid-template-areas:
    "logo    broker  portrait ."
    "info    info    info     info";
  grid-template-columns: 3rem 3rem 3rem auto;
  grid-template-rows: 3rem auto;
  align-items: flex-start;
  gap: var(--space-1-4);
}

@media only screen and (min-width: 38em) {
  .realtor-top {
    grid-template-areas:
      "logo broker space portrait info"
      ".    .      .     .        info";
    grid-template-columns: 4.4rem 4.4rem 2rem 4.4rem auto;
    grid-template-rows: 4.4rem auto;
  }
}

@media only screen and (min-width: 60em) {
  .realtor-top {
    grid-template-areas:
      "logo broker space portrait info"
      ".    .      .     .        info";
    grid-template-columns: 4.4rem 4.4rem 2rem 4.4rem auto auto;
    grid-template-rows: 4.4rem auto;
  }

  .realtor-top .realtor-info {
    display: grid;
    grid-template-areas: "details contact";
    grid-template-columns: auto auto;
    align-items: center;
  }
}

.realtor-bottom {
  display: grid;
  grid-template-areas:
    "logo    broker  portrait ."
    "info    info    info     info"
    "buttons buttons buttons  buttons";
  grid-template-columns: 3rem 3rem 3rem auto;
  grid-template-rows: 3rem auto auto;
  align-items: flex-start;
  gap: var(--space-1-4);
}

@media only screen and (min-width: 38em) {
  .realtor-bottom {
    grid-template-areas:
      "logo broker space portrait info"
      ".    .      .     .        info"
      ".    .      .     .        buttons";
    grid-template-columns: 4.4rem 4.4rem 2rem 4.4rem auto;
    grid-template-rows: 4.4rem auto auto;
  }
}

@media only screen and (min-width: 60em) {
  .realtor-bottom {
    grid-template-areas:
      "logo broker space portrait info buttons"
      ".    .      .     .        info buttons";
    grid-template-columns: 4.4rem 4.4rem 2rem 4.4rem auto auto;
    grid-template-rows: 4.4rem auto;
  }
}

.realtor img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border: 0.1rem solid var(--color-neutral-medium);
}

.portrait {
  grid-area: portrait;
}

.logo {
  grid-area: logo;
}

.broker {
  grid-area: broker;
}

.realtor-info {
  grid-area: info;
}

.realtor-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.realtor-contact {
  grid-area: contact;
}

.realtor-buttons {
  grid-area: buttons;
  display: grid;
  grid-template-areas: "call" "email";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: var(--space-1-4);
}

@media only screen and (min-width: 25em) {
  .realtor-buttons {
    grid-template-areas: "call email";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 38em) {
  .realtor-buttons {
    grid-template-areas: "call" "email";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 50em) {
  .realtor-buttons {
    grid-template-areas: "call email";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 60em) {
  .realtor-buttons {
    grid-template-areas: "call" "email";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 100%;
  }
}

.realtor-call {
  grid-area: call;
  display: grid;
  justify-content: stretch;
  align-items: flex-end;
  text-align: center;
}

.realtor-email {
  grid-area: email;
  display: grid;
  justify-content: stretch;
  align-items: flex-start;
  text-align: center;
}

.realtor-contact-group {
  display: grid;
  grid-template-columns: 4em auto;
  align-items: baseline;
}
