{% assign now=site.time|date:'%Y-%m-%d' %}
{% if page.expires > now %}
  <section class="threed island-2 bg-neutral-medium">
    <h2 class="visually-hidden push-0">Explore the 3D floor plan</h2>
    <div class="threed-wrap island-1-4 bg-neutral-dark">
      <div class="threed-block embed embed-3by2">
        {% if page.3d %}
          <iframe class="embed-item" src="{{page.3d}}" allow="fullscreen; gyroscope; accelerometer;" allowfullscreen webkitallowfullscreen mozallowfullscreen loading="lazy"></iframe>
        {% else %}
          <div class="pin-c text-center">
            <p class="exa font-accent color-neutral-white push-0">3D Tour</p>
            <strong class="giga font-secondary italic color-primary-light">Coming Soon!</strong>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
