<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{%- include meta-title.html -%}</title>
  <meta name="description" content="{%- include meta-desc.html -%}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital@0;1&display=fallback" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{%- include meta-title.html -%}">
  <meta property="og:url" content="https://ottawarealestate.photos{{page.url}}">
  <meta property="og:image" content="{%- include meta-social-image.html -%}">
  <meta property="og:site_name" content="E&amp;J Real Estate Photos">
  <meta property="og:description" content="{%- include meta-desc.html -%}">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
</head>
<body>
  {{content}}
  <script src="/js/main.js"></script>
</body>
</html>
