<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ottawa Real Estate Photos</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital@0;1&display=fallback" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <script>
    "use strict";
    setTimeout(() => {
      const realtor = document.getElementById("realtor");
      window.scrollTo(0, realtor.getBoundingClientRect().height);
    }, 200);
  </script>
  {{content}}
</body>
</html>
