---
layout: default
---

{% pattern realtor/top %}
<main role="main">
  {% pattern banner/banner %}
  {% pattern text/highlight-block %}
  {% pattern photos/feature-photo-row %}
  {% pattern properties/details %}
  {% pattern properties/3d-block %}
  {% pattern photos/gallery %}
  {% pattern properties/floorplan %}
  {% pattern properties/map %}
</main>
{% pattern realtor/bottom %}

<script>
  "use strict";
  setTimeout(() => {
    const realtor = document.getElementById("realtor");
    window.scrollTo(0, realtor.getBoundingClientRect().height);
  }, 200);
</script>

<script>
  const PROPERTY_ADDRESS = "{{page.adr}}";
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXlJTc03d2jU9zvCWi0milcz9RNQa8AA4&map_ids=7f238eb041e7e77c"></script>
